.window {
  width : 700px;
  height: 400px;

  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);

  display: flex;

  border-radius: .5rem;
  box-shadow   : 0 -10px 20px 0 #0000001a, 0 8px 20px 0 #0000001a;
  overflow     : hidden;
}

.draggable {
  width : 100%;
  height: 11%;

  position: absolute;
}

.window--sidebar {
  height     : 100%;
  padding-top: 2.725em;

  display  : flex;
  flex-flow: column;

  background-color: #ffffffbc;
  backdrop-filter : blur(10px);
}

.window--sidebar__header {
  padding: .8em;

  display    : flex;
  align-items: center;
  gap        : .4em;

  position: absolute;
  z-index : 30;
}

.window--btn {
  width  : .9em;
  height : .9em;
  padding: 0;

  cursor: pointer;
}

.window--close {
  background-color: #ff5f56;
}

.window--minimize {
  background-color: #ffe72e;
}

.window--maximize {
  background-color: #27c93f;
}

.window--menu {
  padding: 1.2em;

  flex-grow: 1;
  display  : flex;
  flex-flow: column;
  gap      : .8em;
}

.window--article {
  flex-grow: 1;

  background-color: #fefefe;
}

.window--article__header {
  padding: .6em;

  display        : flex;
  align-items    : center;
  justify-content: end;
  gap            : .4em;

  border-bottom: 1px solid #e7e7e7;
}