/* #region Window */
.window {
  position: absolute;
  top     : calc(50vh - 266px);
  left    : calc(50vw - 450px);

  display: flex;

  border-radius: .5rem;
  box-shadow   : 0 -10px 20px 0 #0000001a, 0 8px 20px 0 #0000001a;
  overflow     : hidden;

  font-size     : 1.2em;
  container-type: inline-size;
}

.maximized_window {
  width : 100%;
  height: calc(100% - 2.2rem);

  position : fixed;
  top      : 2.2rem;
  left     : 0;
  transform: none;

  border-radius: 0;
}

.draggable {
  width : 100%;
  height: 11%;

  position: absolute;
}

.window__sidebar {
  max-width  : 14.4rem;
  min-width  : 14.4rem;
  height     : 100%;
  padding-top: 2.725em;

  display  : flex;
  flex-flow: column;

  background-color: #ffffffbc;
  backdrop-filter : blur(10px);
}

.window-btns {
  width  : 6.11625rem;
  padding: .8em;

  display    : flex;
  align-items: center;
  gap        : .4em;

  position: absolute;
  z-index : 30;
}

.window__btn {
  width  : .9em;
  height : .9em;
  padding: 0;

  cursor: pointer;
}

.window__btn--close {
  background-color: #ff5f56;
}

.window__btn--minimize {
  background-color: #ffe72e;
}

.window__btn--maximize {
  background-color: #27c93f;
}

.window__menu {
  padding: 1.2em .8em;

  flex-grow: 1;
  display  : flex;
  flex-flow: column;
  gap      : .5em;
}

.window__menu--item {
  height : 50px;
  padding: .5em calc((67.14px - 28px) / 2);

  display: flex;

  border-radius: 10px;

  font-size: .9em;

  cursor  : pointer;
  overflow: hidden;
}

.window__menu--item--active {
  background-color: #4576d2;
  color           : #fff;
}

.window__main {
  flex-grow: 1;
  display  : flex;
  flex-flow: column nowrap;

  background-color: #fefefe;
}

.window-main__header {
  padding: .6em;

  display        : flex;
  align-items    : center;
  justify-content: end;
  gap            : .4em;

  border-bottom: 1px solid #e7e7e7;
}

.window-main__article {
  padding: .6em;

  flex-grow: 1;
  display  : flex;
  flex-flow: column nowrap;
  gap      : 1em;

  overflow-x: hidden;

  scroll-behavior: smooth;
}

/* ejemplo base para todos */
.resizer {
  position  : absolute;
  background: transparent;
  z-index   : 40;
}

/* bordes */
.resizer--top,
.resizer--bottom {
  height: 5px;
  width : 100%;
  cursor: ns-resize;
}

.resizer--left,
.resizer--right {
  width : 5px;
  height: 100%;
  cursor: ew-resize;
}

/* esquinas */
.resizer--top-left,
.resizer--bottom-right {
  width : 10px;
  height: 10px;
  cursor: nwse-resize;
}

.resizer--top-right,
.resizer--bottom-left {
  width : 10px;
  height: 10px;
  cursor: nesw-resize;
}

/* posicionamiento de cada uno */
.resizer--top {
  top : 0;
  left: 0;
}

.resizer--bottom {
  bottom: 0;
  left  : 0;
}

.resizer--left {
  top : 0;
  left: 0;
}

.resizer--right {
  top  : 0;
  right: 0;
}

.resizer--top-left {
  top : 0;
  left: 0;
}

.resizer--top-right {
  top  : 0;
  right: 0;
}

.resizer--bottom-left {
  bottom: 0;
  left  : 0;
}

.resizer--bottom-right {
  bottom: 0;
  right : 0;
}


.isMinimizing {
  animation       : minimizeWindow 0.3s ease-in forwards;
  transform-origin: center bottom;
}

.isRestoring {
  animation       : restoreWindow 0.3s ease-out forwards;
  transform-origin: center bottom;
}

@keyframes minimizeWindow {
  0% {
    transform: scale(1);
    opacity  : 1;
  }

  100% {
    transform: scale(0.1) translateY(200%);
    opacity  : 0;
  }
}

@keyframes restoreWindow {
  0% {
    transform: scale(0.1) translateY(200%);
    opacity  : 0;
  }

  100% {
    transform: scale(1);
    opacity  : 1;
  }
}

/* #endregion */

/* #region Formularios (?) */

.title {
  padding: 0 .5em;

  font-size  : 1.2em;
  font-weight: 600;
}

.form {
  width  : 100%;
  padding: 1em;

  display              : grid;
  grid-template-columns: 1fr 1fr;
  gap                  : 1em;

  background-color: #f9f9fb;
  box-shadow      : 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius   : 16px;
}

.form__full {
  grid-column: span 2;
}

.form input:not([type="radio"]) {
  padding: 0.75em 1em;
  width  : 100%;

  background-color: #ffffff;
  color           : #1d1d1f;
  border-radius   : 12px;
  border          : 0.0625em solid #d2d2d7;

  font-size: .8em;

  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.form input:not([type="radio"]):focus {
  border-color: #0a84ff;
  box-shadow  : 0 0 0 2px rgba(10, 132, 255, 0.2);
  outline     : none;
}

.form__type {
  display    : flex;
  gap        : 1em;
  align-items: center;
  grid-column: span 2;
}

.form__type input[type="radio"] {
  display: none;
}

.form__type label {
  padding         : 0.5em 0.875em;
  border          : 0.0625em solid #d2d2d7;
  border-radius   : 999px;
  font-size       : .875em;
  background-color: #f0f0f5;
  cursor          : pointer;
  transition      : all 0.2s ease;
}

.form__type--active+label {
  background-color: #007aff;
  color           : white;
  border-color    : #007aff;
}

.form__button {
  padding         : 0.75em 1.25em;
  background-color: #0a84ff;
  color           : white;
  border          : none;
  border-radius   : 10px;
  cursor          : pointer;
  justify-self    : start;
  transition      : background-color 0.2s ease;
  grid-column     : span 2;
  font-size       : .9em;
}

.form__button:hover {
  background-color: #007aff;
}

/* #endregion */

/* #region Tablas (?) */
.table {
  width    : 100%;
  max-width: 100%;

  background-color: #f9f9fb;
  border-radius   : 0.75rem;
  border-spacing  : 0;

  font-size: 1.1rem;

}

.table__header th {
  padding: 0.75rem;

  text-align: left;

  border-bottom: 1px solid #e0e0e0;
  color        : #007aff;

  font-size  : 1.1rem;
  font-weight: 600;
}

.table__body td {
  max-width: 100px;
  padding  : 0.75rem;

  vertical-align: middle;

  color: #1d1d1f;

  font-size: 1.1rem;

  overflow     : hidden;
  white-space  : nowrap;
  text-overflow: ellipsis;
}

.table__row--alt {
  background-color: #f1f1f1;
  border-radius   : 0.5rem;
}

.table__row--alt td:first-child {
  border-top-left-radius   : 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.table__row--alt td:last-child {
  border-top-left-radius   : 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.table__body--actions {
  min-height: 3.25rem;

  display        : flex;
  align-items    : center;
  justify-content: space-evenly;
  gap            : 0.5rem;
}

.table__body--actions svg {
  cursor    : pointer;
  transition: transform 0.2s ease;
}

.table__body--actions svg:hover {
  color    : #007aff;
  transform: scale(1.1);
}

.tooltip-container {
  position: relative;

  display    : inline-flex;
  align-items: center;
}

.tooltip-container .tooltip {
  padding : 6px 8px;
  position: absolute;
  bottom  : 120%;
  left    : 50%;

  background-color: #333;
  border-radius   : 6px;
  color           : #fff;
  font-size       : .8rem;

  visibility: hidden;
  opacity   : 0;

  transform  : translateX(-50%);
  transition : opacity 0.2s;
  z-index    : 10;
  white-space: nowrap;
}

.tooltip-container:hover .tooltip {
  visibility: visible;
  opacity   : 1;
}

@container (max-width: 912px) {

  .table th:nth-child(3),
  .table td:nth-child(3) {
    display: none;
  }
}

@container (max-width: 840px) {

  .table th:nth-child(4),
  .table td:nth-child(4) {
    display: none;
  }
}

/* #endregion */

/* #region Modal */
.deactivate__modal--container {
  width : 100dvw;
  height: 100dvh;

  position: fixed;
  top     : 0;
  left    : 0;

  display      : grid;
  place-content: center;

  background-color: rgba(0, 0, 0, 0.2);

  opacity       : 0;
  pointer-events: none;
  transition    : opacity 0.25s ease;
  z-index       : 1000;
}

.deactivate__modal--container.show {
  opacity       : 1;
  pointer-events: auto;
}

.deactivate__modal {
  width    : 100%;
  max-width: 25em;
  padding  : 1.4em;

  background   : #fefefe;
  box-shadow   : 0 1em 2.5em rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

  text-align: center;
}

.deactivate__modal img {
  margin-bottom: 1em;
}

.deactivate__modal p {
  margin-bottom: 0.5em;

  color: #333;

  font-size  : 1em;
  font-weight: 500;
}

.deactivate__modal span {
  margin-bottom: 0.3em;

  color: #555;

  font-size  : 0.875em;
  font-weight: 500;
}

.deactivate__modal div {
  margin-top: 1.5em;

  display        : flex;
  justify-content: space-between;
  gap            : 0.75em;
}

.deactivate__modal--cancel,
.deactivate__modal--confirm {
  padding: 0.75em 1em;

  flex: 1;

  border       : none;
  border-radius: 0.5rem;

  font-size: 0.875em;

  cursor    : pointer;
  transition: background 0.2s ease;
}

.deactivate__modal--cancel {
  background: #e0e0e0;
  color     : #333;
}

.deactivate__modal--cancel:hover {
  background: #d0d0d0;
}

.deactivate__modal--confirm {
  background: #007aff;
  color     : white;
}

.deactivate__modal--confirm:hover {
  background: #006ae6;
}

/* #endregion */

/* #region SeeElement Info */

.see-title {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

.search-input {
  display    : flex;
  align-items: center;
  gap        : .8em;
}

.search-input span {
  font-size  : .8em;
  font-weight: 400;
}

.search-input input {
  padding         : 8px 12px;
  font-size       : 16px;
  border-radius   : 8px;
  border          : 1px solid #d1d1d6;
  background-color: #f9f9f9;
  outline         : none;
  transition      : border 0.2s ease-in-out;
}

.input:focus {
  border-color    : #007aff;
  background-color: #fff;
}

.element-info__container {
  display              : grid;
  grid-template-columns: repeat(2, 1fr);
  gap                  : 12px;
  padding              : 20px;
  background-color     : #ffffffcc;
}

.element-info {
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  padding         : 10px 14px;
  background-color: #f5f5f7;
  border-radius   : 10px;
}

.element-info__title {
  font-weight: 600;
  color      : #3c3c43;
  font-size  : 15px;
  flex       : 1;
}

.element-info__content {
  text-align : right;
  flex       : 2;
  font-size  : 15px;
  color      : #1d1d1f;
  font-weight: 400;
}

/* #endregion */